:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}
header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom: 1em;
}
header label {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Legend styling */
.legend {
  display: flex;
  gap: 1px;
  margin-block: 1em;
}
.legend > div {
  flex: 1;
  text-align: center;
  padding: 0.5em 1em;
  background: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  color: white;
}